{% extends 'common/dashboard_main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
{% include 'user/sidenav.html' %}

<div class="content-wrapper">
<div class="container-fluid overflow-hidden">
    <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
        <!-- Page Title -->
        <div id="page-title" class="padding-30px background-white full-width box-shadow">
            <div class="container">
                <ol class="breadcrumb opacity-5">
                    <li><a href="{% url 'home' %}">Dashboard</a></li>
                    <li><i class="ti ti-arrow-circle-right"></i></li>
                    <li class="active">Make Booking</li>
                </ol>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="font-weight-300">Booking Successfull</h1>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                            </div>
                        </div> 
                    </div>
                </div>
                
            </div>
        </div>

        
        <!-- // Page Title -->
        <div class="container-fluid">
            <div class="row" style="margin-top:40px">

                <div class="col-lg-6 col-md-6  col-12 sm-mb-40px wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;margin-top: 30px;">
                    <a href="#" data-toggle="modal" data-target="#addservice_{{i.id}}">
                        <div class="pricing hover-effect">
                            <div class="pricing-head text-center">
                                <h3 class="font-weight-700 padding-40px background-main-color margin-0px text-white">
                                    <span class=" z-index-2 position-relative d-block">{{service.service.category|title}}<span class="d-block text-small font-weight-300"></span>
                                    </span>
                                </h3>
                            </div>
                            <ul class="pricing-content text-center list-unstyled background-white">
                                <li>Provider:<strong>{{service.user.organization}}</strong></li>
                            </ul>
                            <div class="pricing-footer">
                                <a href="" class="btn btn-block background-grey-1 text-dark rounded-0">USD{{service.cost}}/month</a>
                                <!-- <a href="" class="btn btn-block background-grey-1 text-dark rounded-0">Write Review</a>
                                <a href="" class="btn btn-block background-grey-1 text-dark rounded-0">View Reviews</a>
                                <a href="" class="btn btn-block background-second-color text-white rounded-0">Make Booking</a> -->
                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="listing-search">
                            <div class="margin-bottom-20px">
                                <input type="text" class="listing-form first border-radius-10" placeholder="Trasaction Id:{{booking.booking_id}}" value="Trasaction Id:{{booking.booking_id}}" disabled />
                                
                            </div>
                            <div class="margin-bottom-20px">
                                <input type="text" class="listing-form first border-radius-10" placeholder="Booking Amount:{{booking.amount_transferred}}" value="Booking Amount:{{booking.amount_transferred}}" disabled />
                            </div>
                            <div class="margin-bottom-20px">
                                <input type="text" class="listing-form first border-radius-10" placeholder="Booking Time Stamp:{{booking.datetime}}" value="Booking Time Stamp:{{booking.datetime}}" disabled />
                            </div>
                        </form>
                    </div>
                </div>
                
    
    
                
                
    
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{% include 'common/small_footer.html' %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
</div>

{% endblock %}