{% extends 'common/dashboard_main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
{% include 'user/sidenav.html' %}

<div class="content-wrapper">
<div class="container-fluid overflow-hidden">
    <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
        <!-- Page Title -->
        <div id="page-title" class="padding-30px background-white full-width box-shadow">
            <div class="container">
                <ol class="breadcrumb opacity-5">
                    <li><a href="{% url 'home' %}">Dashboard</a></li>
                    <li><i class="ti ti-arrow-circle-right"></i></li>
                    <li class="active">My Favourite Services</li>
                </ol>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="font-weight-300">My Favourite Services</h1>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                            </div>
                        </div> 
                    </div>
                </div>
                
            </div>
        </div>

        
        <!-- // Page Title -->
        <div class="container-fluid">
            <div class="row" style="margin-top:40px">

                {% for i in fs %}
                <div class="col-lg-4 col-md-4  col-sm-6 sm-mb-40px wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;margin-top: 30px;">
                    <a href="#" data-toggle="modal" data-target="#addservice_{{i.id}}">
                        <div class="pricing hover-effect">
                            <div class="pricing-head text-center">
                                <h3 class="font-weight-700 padding-40px background-main-color margin-0px text-white">
                                    {% if i.service %}
                                    <span class=" z-index-2 position-relative d-block">{{i.service.service|title}}<span class="d-block text-small font-weight-300"></span>
                                    {% else %}
                                    <span class=" z-index-2 position-relative d-block">{{i.product|title}}<span class="d-block text-small font-weight-300"></span>
                                    {% endif %}
                                    </span>
                                </h3>
                            </div>
                            <ul class="pricing-content text-center list-unstyled background-white">
                                
                                {% if i.service %}
                                <li>Provider:<strong>{{i.service.user.organization}}</strong></li>
                                <li><strong>Service</strong></li>
                                {% else %}
                                <li>Provider:<strong>{{i.subproduct.service.user.organization}}</strong></li>
                                <li><strong>Product</strong></li>
                                {% endif %}
                            </ul>
                            <!-- <div class="pricing-footer">
                                <a href="{% url 'write_review' i.id %}" class="btn btn-block background-grey-1 text-dark rounded-0">Write Review</a>
                            </div> -->
                        </div>
                    </a>
                </div>
                
                {% empty %}
                <div class="alert alert-danger  margin-bottom-35px border-radius-10 padding-30px">
                    <strong>OOPS!</strong> No Services found
                    <hr>
                    <p class="margin-0px">If you feel this is a error please contact the service provider.</p>
                </div>
                {% endfor %}
    
    
                
                <!-- pagination -->
                <!-- <ul class="pagination pagination-md ">
                    <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                </ul> -->
                <!-- //pagination -->
    
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{% include 'common/small_footer.html' %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
</div>

{% endblock %}