{% extends 'common/dashboard_main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
{% include 'admin/sidenav.html' %}

<div class="content-wrapper">
<div class="container-fluid overflow-hidden">
    <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
        <!-- Page Title -->
        <div id="page-title" class="padding-30px background-white full-width box-shadow">
            <div class="container">
                <ol class="breadcrumb opacity-5">
                    <li><a href="{% url 'home' %}">Dashboard</a></li>
                    <li><i class="ti ti-arrow-circle-right"></i></li>
                    <li class="active">Messages</li>
                </ol>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="font-weight-300">Messages</h1>
                        </div>
                        <div class="col-6">
                            
                        </div> 
                    </div>
                </div>
                
            </div>
        </div>

        
        <!-- // Page Title -->
        <div class="container-fluid">
            <div class="row" style="margin-top:40px">

                <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Message</th>
                        <th>Timestamp</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in message %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.message.message}}</td>
                        <td>{{i.message.datetime}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
    
    
                
                <!-- pagination -->
                <!-- <ul class="pagination pagination-md ">
                    <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>
                </ul> -->
                <!-- //pagination -->
    
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{% include 'common/small_footer.html' %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
</div>

{% endblock %}