{% load static %}
<div class="margin-bottom-30px">
    <div class="padding-30px background-white border-radius-20 box-shadow">
        <h3><i class="far fa-bell margin-right-10px text-main-color"></i> Latest Activities </h3>
        <hr>
        <ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3 clearfix">
            <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <div class="padding-bottom-15px">
                    <a class="d-block text-grey-2" href="#">
            <img src="{% static 'assets/img/testimonial-1.png' %}" class="height-30px margin-right-5px border-radius-30" alt="">
            <span class="text-black">Adel Alseed</span> Liked the last comment you </a>
                    <span class="text-extra-small text-grey-4 margin-left-40px">Date :  <a href="#" class="text-grey-2">July 15, 2016</a></span>
                </div>
            </li>
            <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <div class="padding-bottom-15px">
                    <a class="d-block text-grey-2" href="#">
            <img src="{% static 'assets/img/testimonial-2.png' %}" class="height-30px margin-right-5px border-radius-30" alt="">
            <span class="text-black">Adel Alseed</span> Liked the last comment you </a>
                    <span class="text-extra-small text-grey-4 margin-left-40px">Date :  <a href="#" class="text-grey-2">July 15, 2016</a></span>
                </div>
            </li>
            <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <div class="padding-bottom-15px">
                    <a class="d-block text-grey-3" href="#">
            <img src="{% static 'assets/img/testimonial-3.png' %}" class="height-30px margin-right-5px border-radius-30" alt="">
            <span class="text-black">Adel Alseed</span> Liked the last comment you </a>
                    <span class="text-extra-small text-grey-4 margin-left-40px">Date :  <a href="#" class="text-grey-2">July 15, 2016</a></span>
                </div>
            </li>
            <li>
                <div class="padding-bottom-15px">
                    <a class="d-block text-grey-2" href="#">
            <img src="{% static 'assets/img/testimonial-4.png' %}" class="height-30px margin-right-5px border-radius-30" alt="">
            <span class="text-black">Adel Alseed</span> Liked the last comment you </a>
                    <span class="text-extra-small text-grey-4 margin-left-40px">Date :  <a href="#" class="text-grey-2">July 15, 2016</a></span>
                </div>
            </li>
        </ul>
    </div>
    <!-- -->
</div>