{% load static %}
<div class="margin-bottom-30px">
    <div class="padding-30px background-white border-radius-20 box-shadow">
        <h3><i class="far fa-star margin-right-10px text-main-color"></i> Latest Reviews </h3>
        <hr>
        <ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
            <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <img src="{% static 'assets/img/testimonial-1.png' %}" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                <div class="margin-left-85px">
                    <a class="d-inline-block text-dark text-medium margin-right-20px" href="#">Bakhita alrawi </a>
                    <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>
                    <div class="rating">
                        <ul>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                        </ul>
                    </div>
                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
            </li>
            <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <img src="{% static 'assets/img/testimonial-2.png' %}" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                <div class="margin-left-85px">
                    <a class="d-inline-block text-dark text-medium margin-right-20px" href="#">Rabie Elkheir </a>
                    <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>
                    <div class="rating">
                        <ul>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
            </li>
            <li class="border-bottom-1 border-grey-1 margin-bottom-20px">
                <img src="{% static 'assets/img/testimonial-3.png' %}" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
                <div class="margin-left-85px">
                    <a class="d-inline-block text-dark text-medium margin-right-20px" href="#">Adel Alsaeed </a>
                    <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>
                    <div class="rating">
                        <ul>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                        </ul>
                    </div>
                    <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                </div>
            </li>
        </ul>
    </div>
</div>