
{% load static %}
<footer class="padding-tb-100px background-main-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a class="d-inline-block margin-tb-15px"><img src="{% static 'assets/img/logo-2.png' %}" alt=""></a>
            </div>
            <div class="col-lg-4">
                <p class="text-white opacity-7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-lg-6">
                <ul class="footer-menu margin-tb-15px margin-lr-0px padding-0px list-unstyled float-lg-right">
                    <li><a href="#" class="text-white">Featured</a></li>
                    <li><a href="#" class="text-white">Feedback</a></li>
                    <li><a href="#" class="text-white">Ask a Question</a></li>
                    <li><a href="#" class="text-white">Team</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-white opacity-4 margin-tb-45px">
        <div class="row">
            <div class="col-lg-6">
                <p class="margin-0px text-white opacity-7 sm-mb-15px">© 2018 tabib Health Directory | All Right Reserved. </p>
            </div>
            <div class="col-lg-6">
                <ul class="social-icon style-2 float-lg-right">
                    <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>