{% extends 'common/main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
<br><br><br>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container text-center">
        <ol class="breadcrumb opacity-5">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li class="active">Forgot Password</li>
        </ol>
        <h1 class="font-weight-300">Forgot Password</h1>
    </div>
</div>

<div class="container margin-bottom-100px">
    <!--======= log_in_page =======-->
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

        <div class="form-output">
            <form method="post" action>
                {% csrf_token %}
                <div class="form-group label-floating">
                    <label class="control-label">Your Email</label>
                    <input name="username">
                    {% load widget_tweaks %}
                    {% render_field form.email  class="form-control" placeholder="Enter your registered mail" type="email" required="true" %}
                </div>
                
                <button type="submit" class="btn btn-md btn-primary full-width">Submit</button>

                <div class="or"></div>


                <p>Already have an account? <a href="{% url 'provider_signup' %}">Login</a> </p>
            </form>
        </div>
    </div>
    <!--======= // log_in_page =======-->

</div>

{% include 'common/footer.html' %}
{% endblock %}