{% extends 'common/main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->

<section class="banner padding-tb-300px sm-ptb-80px background-overlay" style="background-image: url(static/assets/img/home.jpg);">
    <div class="container z-index-2 position-relative">
        <!--<div class="title">
            <h1 class="text-title-large text-main-color font-weight-300 margin-bottom-15px">Health Directory</h1>
            <h4 class="font-weight-300 text-main-color text-up-small">A better Doctors , Clinics &amp; Labs . We'll help
                you find it</h4>
        </div>
        <div class="row margin-tb-60px">
            <div class="col-lg-8">
                <div class="listing-search">
                    <form class="row no-gutters">
                        <div class="col-md-3">
                            <div class="keywords">
                                <input class="listing-form first" type="text" placeholder="Keywords..." value="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="regions">
                                <input class="listing-form" type="text" placeholder="All Regions" value="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="categories dropdown">
                                <a class="listing-form d-block text-nowrap" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">All Categories</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item text-up-small" type="button">Doctors</button>
                                    <button class="dropdown-item text-up-small" type="button">Clinics</button>
                                    <button class="dropdown-item text-up-small" type="button">Pharmacies</button>
                                    <button class="dropdown-item text-up-small" type="button">Labs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="listing-bottom background-second-color box-shadow" href="#">Search Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-3 col-6 sm-mb-30px wow fadeInUp">
                        <a href="#" class="d-block border-radius-15 hvr-float hvr-sh2">
                            <div
                                class="background-main-color text-white border-radius-15 padding-20px text-center opacity-hover-7">
                                <div class="icon margin-bottom-15px opacity-7">
                                    <img src="{% static 'assets/img/icon/categorie-1.png' %}" alt="">
                                </div>
                                Doctors
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.2s">
                        <a href="#" class="d-block border-radius-15 hvr-float hvr-sh2">
                            <div
                                class="background-main-color text-white border-radius-15 padding-20px text-center opacity-hover-7">
                                <div class="icon margin-bottom-15px opacity-7">
                                    <img src="{% static 'assets/img/icon/categorie-2.png' %}" alt="">
                                </div>
                                Clinics
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#" class="d-block border-radius-15 hvr-float hvr-sh2">
                            <div
                                class="background-main-color text-white border-radius-15 padding-20px text-center opacity-hover-7">
                                <div class="icon margin-bottom-15px">
                                    <img src="{% static 'assets/img/icon/categorie-3.png' %}" alt="">
                                </div>
                                Labs
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-6 wow fadeInUp" data-wow-delay="0.6s">
                        <a href="#" class="d-block border-radius-15 hvr-float hvr-sh2">
                            <div
                                class="background-main-color text-white border-radius-15 padding-20px text-center opacity-hover-7">
                                <div class="icon margin-bottom-15px opacity-7">
                                    <img src="{% static 'assets/img/icon/categorie-4.png' %}" alt="">
                                </div>
                                Pharmacies
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>


<section class="padding-tb-100px">
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-6 sm-mb-30px wow fadeInUp">
                <div class="service text-center opacity-hover-7 hvr-bob">
                    <div class="icon margin-bottom-10px">
                        <img src="{% static 'assets/img/icon/service-1.png' %}" alt="">
                    </div>
                    <h3 class="text-second-color">Reliable Places</h3>
                    <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.2s">
                <div class="service text-center opacity-hover-7 hvr-bob">
                    <div class="icon margin-bottom-10px">
                        <img src="{% static 'assets/img/icon/service-2.png' %}" alt="">
                    </div>
                    <h3 class="text-second-color">High Credibility</h3>
                    <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.4s">
                <div class="service text-center opacity-hover-7 hvr-bob">
                    <div class="icon margin-bottom-10px">
                        <img src="{% static 'assets/img/icon/service-3.png' %}" alt="">
                    </div>
                    <h3 class="text-second-color">Quick search</h3>
                    <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 sm-mb-30px wow fadeInUp" data-wow-delay="0.6s">
                <div class="service text-center opacity-hover-7 hvr-bob">
                    <div class="icon margin-bottom-10px">
                        <img src="{% static 'assets/img/icon/service-4.png' %}" alt="">
                    </div>
                    <h3 class="text-second-color">Know better</h3>
                    <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="padding-tb-100px background-grey-1">
    <div class="container">
        <!-- Title -->
        <div class="row justify-content-center margin-bottom-45px">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 wow fadeInUp">
                        <h1 class="text-second-color font-weight-300 text-sm-center text-lg-right margin-tb-15px">Famous
                            Doctors</h1>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="col-md-2 wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#" class="text-main-color margin-tb-15px d-inline-block"><span
                                class="d-block float-left margin-right-10px margin-top-5px">Show All</span> <i
                                class="far fa-arrow-alt-circle-right text-large margin-top-7px"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Title -->

        <div class="row">

            <!-- Doctor -->
            <div class="col-lg-3 col-md-6 hvr-bob sm-mb-45px">
                <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thum">
                        <a href="#"><img src="{% static 'assets/img/doctor-1.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <span class="text-grey-2">Internal</span>
                        <h5 class="margin-tb-15px"><a class="text-dark" href="#">Dr. Shahrzat Moh</a></h5>
                        <div class="rating clearfix">
                            <ul class="float-left">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                            <small class="float-right text-grey-2">(17 reviews)</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Doctor -->

            <!-- Doctor -->
            <div class="col-lg-3 col-md-6 hvr-bob sm-mb-45px">
                <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.4s">
                    <div class="thum">
                        <a href="#"><img src="{% static 'assets/img/doctor-2.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <span class="text-grey-2">Internal</span>
                        <h5 class="margin-tb-15px"><a class="text-dark" href="#">Dr. Adwa Ali</a></h5>
                        <div class="rating clearfix">
                            <ul class="float-left">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                            <small class="float-right text-grey-2">(17 reviews)</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Doctor -->

            <!-- Doctor -->
            <div class="col-lg-3 col-md-6 hvr-bob sm-mb-45px">
                <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.6s">
                    <div class="thum">
                        <a href="#"><img src="{% static 'assets/img/doctor-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <span class="text-grey-2">Internal</span>
                        <h5 class="margin-tb-15px"><a class="text-dark" href="#">Dr. Salma Elkheir</a></h5>
                        <div class="rating clearfix">
                            <ul class="float-left">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                            <small class="float-right text-grey-2">(17 reviews)</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Doctor -->

            <!-- Doctor -->
            <div class="col-lg-3 col-md-6 hvr-bob sm-mb-45px">
                <div class="background-white box-shadow wow fadeInUp" data-wow-delay="0.8s">
                    <div class="thum">
                        <a href="#"><img src="{% static 'assets/img/doctor-4.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <span class="text-grey-2">Internal</span>
                        <h5 class="margin-tb-15px"><a class="text-dark" href="#">Dr. Salim Qasim</a></h5>
                        <div class="rating clearfix">
                            <ul class="float-left">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                            <small class="float-right text-grey-2">(17 reviews)</small>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Doctor -->

        </div>
    </div>
</section>



<section class="padding-tb-100px">
    <div class="container">
        <!-- Title -->
        <div class="row justify-content-center margin-bottom-45px">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-4 wow fadeInUp">
                        <h1 class="text-second-color font-weight-300 text-sm-center text-lg-right margin-tb-15px">
                            Popular Clinic</h1>
                    </div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="col-md-2 wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#" class="text-main-color margin-tb-15px d-inline-block"><span
                                class="d-block float-left margin-right-10px margin-top-5px">Show All</span> <i
                                class="far fa-arrow-alt-circle-right text-large margin-top-7px"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Title -->


        <div class="row">

            <!-- clinic -->
            <div class="col-lg-4 col-md-6 sm-mb-45px">
                <div class="background-white full-width thum-hover box-shadow hvr-float wow fadeInUp"
                    data-wow-delay="0.2s">
                    <div class="item-thumbnail thum background-white">
                        <a href="#"><img src="{% static 'assets/img/clinic-1.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <h5 class="margin-bottom-20px"><a class="text-dark" href="#">Alrayan Eye Clinic</a></h5>
                        <div class="rating clearfix">
                            <span class="float-left text-grey-2"><i class="far fa-map"></i> California</span>
                            <ul class="float-right">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="padding-lr-30px padding-tb-15px background-light-grey">
                        <div class="row no-gutters">
                            <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open
                                    Now!</a></div>
                            <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i>
                                    Save</a></div>
                            <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i>
                                    Hospital</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // clinic -->


            <!-- clinic -->
            <div class="col-lg-4 col-md-6 sm-mb-45px">
                <div class="background-white full-width thum-hover box-shadow hvr-float wow fadeInUp"
                    data-wow-delay="0.4s">
                    <div class="item-thumbnail thum background-white">
                        <a href="#"><img src="{% static 'assets/img/clinic-2.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <h5 class="margin-bottom-20px"><a class="text-dark" href="#">Alrayan Eye Clinic</a></h5>
                        <div class="rating clearfix">
                            <span class="float-left text-grey-2"><i class="far fa-map"></i> California</span>
                            <ul class="float-right">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="padding-lr-30px padding-tb-15px background-light-grey">
                        <div class="row no-gutters">
                            <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open
                                    Now!</a></div>
                            <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i>
                                    Save</a></div>
                            <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i>
                                    Hospital</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // clinic -->


            <!-- clinic -->
            <div class="col-lg-4 col-md-6 sm-mb-45px">
                <div class="background-white full-width thum-hover box-shadow hvr-float wow fadeInUp"
                    data-wow-delay="0.6s">
                    <div class="item-thumbnail thum background-white">
                        <a href="#"><img src="{% static 'assets/img/clinic-3.jpg' %}" alt=""></a>
                    </div>
                    <div class="padding-30px">
                        <h5 class="margin-bottom-20px"><a class="text-dark" href="#">Alrayan Eye Clinic</a></h5>
                        <div class="rating clearfix">
                            <span class="float-left text-grey-2"><i class="far fa-map"></i> California</span>
                            <ul class="float-right">
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li class="active"></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                    <div class="padding-lr-30px padding-tb-15px background-light-grey">
                        <div class="row no-gutters">
                            <div class="col-4"><a href="#" class="text-lime"><i class="far fa-bookmark"></i> Open
                                    Now!</a></div>
                            <div class="col-4 text-center"><a href="#" class="text-red"><i class="far fa-heart"></i>
                                    Save</a></div>
                            <div class="col-4 text-right"><a href="#" class="text-blue"><i class="far fa-hospital"></i>
                                    Hospital</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // clinic -->

        </div>

    </div>
</section>


<section class="padding-tb-100px background-grey-1">
    <div class="container">
        <!-- Title -->
        <div class="row justify-content-center margin-bottom-45px">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-md-3 wow fadeInUp">
                        <h1 class="text-second-color font-weight-300 text-sm-center text-lg-right margin-tb-15px">Our
                            Blog</h1>
                    </div>
                    <div class="col-md-7 wow fadeInUp" data-wow-delay="0.2s">
                        <p class="text-grey-2">Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="col-md-2 wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#" class="text-main-color margin-tb-15px d-inline-block"><span
                                class="d-block float-left margin-right-10px margin-top-5px">Show All</span> <i
                                class="far fa-arrow-alt-circle-right text-large margin-top-7px"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Title -->

        <div class="row">
            <div class="col-lg-6 sm-mb-45px">
                <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                    <div class="float-md-left margin-right-30px thum-xs">
                        <img src="{% static 'assets/img/blog-1.jpg' %}" alt="">
                    </div>
                    <div class="padding-25px">
                        <i class="far fa-folder-open text-main-color"></i>
                        <a href="#" class="text-main-color">News </a> ,
                        <a href="#" class="text-main-color">Articles </a>
                        <h3><a href="#" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Long Don’t
                                Spend Time Beating On a Wall, Hoping To Trans ... </a></h3>
                        <span class="margin-right-20px text-extra-small"><i class="far fa-user text-grey-2"></i> By : <a
                                href="#"> Rabie Elkheir</a></span>
                        <span class="text-extra-small d-block d-sm-none"><i class="far fa-clock text-grey-2"></i> Date :
                            <a href="#"> July 15, 2016</a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-6 sm-mb-45px">
                <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                    <div class="float-md-left margin-right-30px thum-xs">
                        <img src="{% static 'assets/img/blog-2.jpg' %}" alt="">
                    </div>
                    <div class="padding-25px">
                        <i class="far fa-folder-open text-main-color"></i>
                        <a href="#" class="text-main-color">News </a> ,
                        <a href="#" class="text-main-color">Articles </a>
                        <h3><a href="#" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Long Don’t
                                Spend Time Beating On a Wall, Hoping To Trans ... </a></h3>
                        <span class="margin-right-20px text-extra-small"><i class="far fa-user text-grey-2"></i> By : <a
                                href="#"> Rabie Elkheir</a></span>
                        <span class="text-extra-small d-block d-sm-none"><i class="far fa-clock text-grey-2"></i> Date :
                            <a href="#"> July 15, 2016</a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
</section>


<footer class="padding-tb-100px background-main-color wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a class="d-inline-block margin-tb-15px"><img src="{% static 'assets/img/logo-2.png' %}" alt=""></a>
            </div>
            <div class="col-lg-4">
                <p class="text-white opacity-7">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
            <div class="col-lg-6">
                <ul class="footer-menu margin-tb-15px margin-lr-0px padding-0px list-unstyled float-lg-right">
                    <li><a href="#" class="text-white">Featured</a></li>
                    <li><a href="#" class="text-white">Feedback</a></li>
                    <li><a href="#" class="text-white">Ask a Question</a></li>
                    <li><a href="#" class="text-white">Team</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-white opacity-4 margin-tb-45px">
        <div class="row">
            <div class="col-lg-6">
                <p class="margin-0px text-white opacity-7 sm-mb-15px">© 2018 tabib Health Directory | All Right
                    Reserved. </p>
            </div>
            <div class="col-lg-6">
                <ul class="social-icon style-2 float-lg-right">
                    <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss"
                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}