{% extends 'common/dashboard_main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
{% if account.type == 'admin' %}
    {% include 'admin/sidenav.html' %}
{% elif account.type == 'service_provider' %}
    {% include 'provider/sidenav.html' %}
{% elif account.type == 'public' %}
    {% include 'user/sidenav.html' %}
{% endif %}

<div class="content-wrapper">
<div class="container-fluid overflow-hidden">
    <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
        <!-- Page Title -->
        <div id="page-title" class="padding-30px background-white full-width box-shadow">
            <div class="container">
                <ol class="breadcrumb opacity-5">
                    <li><a href="{% url 'home' %}">Dashboard</a></li>
                    <li><i class="ti ti-arrow-circle-right"></i></li>
                    <li class="active">Update Password</li>
                </ol>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="font-weight-300">Update Password</h1>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                            </div>
                        </div> 
                    </div>
                </div>
                
            </div>
        </div>

        
        <div class="container-fluid">
            <div class="row" style="margin-top:40px">

                <div class="background-white border-radius-10 margin-bottom-45px col-md-6 col-12">
                    <div class="padding-25px">
                        <h3 class="margin-lr-20px"></h3>
                        <!-- Listing Search -->

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="form-group label-floating">
                                        <div class="alert alert-danger" style="margin-left:20px">
                                            <code>{{ error }}</code>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                        {% if msg %}
                        <div class="form-group label-floating">
                            <div class="alert alert-danger" style="margin-left:20px">
                                <code>{{ msg }}</code>
                            </div>
                        </div>
                        {% endif %}
                        <div class="listing-search">
                            <form method="post" action>
                                {% csrf_token %}
                                <div class="margin-bottom-20px">
                                    {% load widget_tweaks %}
                                    {% render_field form.old_password class="listing-form first border-radius-10" type="password" placeholder="Old Password"  %}
                                </div>
                                <div class="margin-bottom-20px">
                                    {% render_field form.new_password1 class="listing-form first border-radius-10" type="password" placeholder="New Password"  %}
                                </div>
                                <div class="margin-bottom-20px">
                                    {% render_field form.new_password2 class="listing-form first border-radius-10" type="password" placeholder="Confirm New Password"  %}
                                </div>

                                
                                <button class="listing-bottom background-dark box-shadow border-radius-10" type="submit">Update</button>
                            </form>
                        </div>
                        <!-- // Listing Search -->
                    </div>
                </div>
 
    
                
                
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid-->
<!-- /.content-wrapper-->
{% include 'common/small_footer.html' %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>
</div>

{% endblock %}