{% extends 'common/main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
<br><br><br>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container text-center">
        <ol class="breadcrumb opacity-5">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'reset_password' %}">Forgot Password</a></li>
            <li class="active">Email Sent</li>
        </ol>
        <h1 class="font-weight-300">Email Sent</h1>
    </div>
</div>

<div class="container margin-bottom-100px">
    <!--======= log_in_page =======-->
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

        <div class="form-output">
                {% csrf_token %}
                <div class="form-group label-floating">
                   <p style="color: rgb(253, 65, 65)">
                    We’ve emailed you instructions for setting your
                    password, if an account exists with the email you entered. You should receive them shortly.<br><br>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                    </p>
                </div>
                
                <div class="or"></div>

        </div>
    </div>
    <!--======= // log_in_page =======-->

</div>

{% include 'common/footer.html' %}
{% endblock %}