{% extends 'common/main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
<br><br><br>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container text-center">
        <ol class="breadcrumb opacity-5">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'login' %}"></a>Login</li>
            <li class="active">Password Reset Complete</li>
        </ol>
        <h1 class="font-weight-300">Password Reset Complete</h1>
    </div>
</div>

<div class="container margin-bottom-100px">
    <!--======= log_in_page =======-->
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

        <div class="form-output">
                <div class="form-group label-floating">
                   <p style="color: rgb(253, 65, 65)">
                    Your password has been set.  You may go ahead and log in now.
                    </p>
                </div>
                <a href="{% url 'login' %}" class="btn btn-md btn-primary full-width">Go To Login</a>
                

        </div>
    </div>
    <!--======= // log_in_page =======-->

</div>

{% include 'common/footer.html' %}
{% endblock %}