{% extends 'common/main.html' %}
{% load static %}
{% block content %}
{% include 'common/header.html' %}
<!-- // Header  -->
<br><br><br>
<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container text-center">
        <ol class="breadcrumb opacity-5">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li class="active">Set New Password</li>
        </ol>
        <h1 class="font-weight-300">Set New Password</h1>
    </div>
</div>

<div class="container margin-bottom-100px">
    <!--======= log_in_page =======-->
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

        <div class="form-output">
            <form method="post" action>
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% if field.errors %}
                {% for error in field.errors %}
                <code>{{ error|escape }}</code>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="form-group label-floating">
                    <label class="control-label">New Password</label>
                    {% load widget_tweaks %}
                    {% render_field form.new_password1 class="form-control" type="password" required="true"%}
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">Confirm New Password</label>
                    {% render_field form.new_password2 class="form-control" type="password" required="true"%}
                </div>
                
                <button type="submit" class="btn btn-md btn-primary full-width">Change Password</button>

            </form>
        </div>
    </div>
    <!--======= // log_in_page =======-->

</div>

{% include 'common/footer.html' %}
{% endblock %}